#rect-anim {

    .container {
        position: relative;
    }

    svg {
        width: 750px;
        height: 645px;
    }

    rect {
        transition: all 2s ease-in-out;
    }

    #rect1 {
        transform-origin: 142.5px 195px;
    }

    #rect2 {
        transform-origin: 502.5px 195px;
    }

    #rect3 {
        transform-origin: 142.5px 502.5px;
    }

    #rect4 {
        transform-origin: 502.5px 502.5px;
    }
}